[submodule "Sirius/vendor/spdlog"]
	path = Sirius/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Sirius/vendor/GLFW"]
	path = Sirius/vendor/GLFW
	url = https://github.com/GolAnd071/glfw
[submodule "Sirius/vendor/imgui"]
	path = Sirius/vendor/imgui
	url = https://github.com/GolAnd071/imgui
[submodule "Sirius/vendor/glm"]
	path = Sirius/vendor/glm
	url = https://github.com/g-truc/glm
