[submodule "Sirius/vendor/spdlog"]
	path = Sirius/vendor/spdlog
	url = ../../gabime/spdlog.git
	branch = v1.x
[submodule "Sirius/vendor/GLFW"]
	path = Sirius/vendor/GLFW
	url = ../../GolAnd071/glfw.git
	branch = master
[submodule "Sirius/vendor/imgui"]
	path = Sirius/vendor/imgui
	url = ../../GolAnd071/imgui.git
	branch = docking
[submodule "Sirius/vendor/glm"]
	path = Sirius/vendor/glm
	url = ../../g-truc/glm.git
	branch = master
