# Binaries
**/bin/
bin-int/
Intermediates/

# Sirius files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
Sirius/vendor/VulkanSDK
Sirius-Editor/assets/cache
scripts/__pycache__
